@import url(../bower_components/normalize.css/normalize.css);
body {
  color: black;
  font-family: georgia, "times new roman", times, serif;
  line-height: 1.5em;
}
@media (min-width: 30em) {
  body {
    margin: 0 auto;
    max-width: 45em;
    width: 90%;
  }
}

h1,
h2 {
  font-family: Georgia,serif;
  line-height: 1.8em;
}

a {
  background: #efefef;
  border: solid #efefef 0.25em;
  border-radius: 0.25em;
  color: black;
  text-decoration: none;
}
a:active, a:focus, a:hover {
  background-color: #e2e2e2;
  border-color: #e2e2e2;
}
