@import "../bower_components/normalize.css/normalize.css";

$screen-small: 30em;
$screen-medium: 45em;
$screen-large: 60em;

$color-text: #000000;
$color-link: #efefef;
$color-link-focus: #e2e2e2;
$color-blockquote: #f9f9f9;
$color-blockquote-text: #ccc;
$color-code: #f7f7f7;

body {
  color: $color-text;
  font-family: georgia, "times new roman", times, serif;
  line-height: 1.5em;
  margin: 1em;
  @media (min-width: $screen-small) {
    margin: 1em auto;
    max-width: $screen-medium;
    width: 90%;
  }
}

footer {
  border-top: solid 0.1em $color-text;
}

nav ul {
  padding: 0;
  li {
    list-style-type: none;
  }
  @media (min-width: $screen-small) {
    overflow: auto;
    li {
      display: inline;
      a {
        float: left;
        margin-right: 1em;
      }
      a[rel="next"] {
        float: right;
        margin-right: 0;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  border-bottom: solid 0.1em $color-text;
  font-family: Georgia,serif;
  line-height: 1.5em;
  margin: 1em 0 0.25em;
}

p {
  margin: 0.5em 0 1em;
}

a {
  background: $color-link;
  border: solid $color-link 0;
  border-radius: 0.25em;
  border-width: 0.15em 0.25em;
  color: $color-text;
  &:active,
  &:focus,
  &:hover {
    background-color: $color-link-focus;
    border-color: $color-link-focus;
  }
}

blockquote { // inspired by http://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
  background: $color-blockquote;
  border-left: 1em solid $color-blockquote-text;
  margin: 1.5em 0;
  padding: 0.5em 1em;
  quotes: "\201C""\201D""\2018""\2019";
  &:before {
    color: $color-blockquote-text;
    content: open-quote;
    float: left;
    font-size: 4em;
    line-height: 0;
    margin-right: 0.1em;
    margin-top: 0.5em;
  }
}

code {
  background-color: $color-code;
  font-size: 0.85em;;
  border-radius: 0.25rem;
  p & {
    display: inline-block;
    padding: 0 0.25rem;
    line-height: 1rem;
  }
  pre & {
    display: block;
    padding: 1rem;
  }
}