<!DOCTYPE  html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>${title}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <link href="css/github.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div role="main">
      ${content}
    </div>
    <footer>
      <% if (previous) { %><a href="${previous}">Previous chapter</a><% } %>
      <% if (next) { %><a href="${next}">Next chapter</a><% } %>
    </footer>
  </body>
</html>
