<!DOCTYPE  html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>${title}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <link href="css/github.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <% if (status || status == 0) { %>
        <p>Status: <a href="https://github.com/swocial/swocial.github.io/wiki/status#${status}">${status} - ${statusName}</a></p>
      <% } %>
    </header>
    <div role="main">
      ${content}
    </div>
    <footer>
      <nav>
        <ul>
          <% if (previous) { %>
          <li>
            <a href="${previous}">Previous chapter</a>
          </li>
          <% } %>
          <% if (next) { %>
          <li>
            <a href="${next}">Next chapter</a>
          </li>
          <% } %>
        </ul>
        <ul>
          <li>
            <a href="https://github.com/swocial/swocial.github.io/">The Swocial project</a>
          </li>
          <li>
            <a href="http://swocial.github.io/">The Swocial manifesto</a>
          </li>
        </ul>
      </nav>
      <div>
        Last published: ${published}
      </div> 
    </footer>
  </body>
</html>
